
body{
    height:100vh;
    overflow-x:hidden;
    overflow-y:scroll;
}
@media only screen and (min-width: 1050px) {
    .full {
        display: normal;
    }
    .edi{
        padding-left:15%;
        padding-right:15%;
    }
    .mob {
        display: none;
    }
}

@media only screen and (max-width: 1050px) {
    .full {
        display:none;
    }
    .mob{
        display:normal;
    }
}

