@{
    ViewBag.Title = "Home Page";
}
<style>
    .boxi {
        transition: box-shadow .3s;
        cursor: pointer;
    }

        .boxi:hover {
            box-shadow: 0 0 20px rgb(0, 0, 0);
        }
</style>
<div class="jumbotron full" style="margin-bottom:-7%">
    <h1>Welcome To <kbd>Blogphins</kbd></h1>

    <img width="49.85%"
         class="" height="auto" style="padding:15px;display:inline-block"
         src="@Url.Content("~/Content/images/3.png")" alt="" />
    <img width="49.85%"
         class="" height="auto" style="padding:15px;display:inline-block"
         src="@Url.Content("~/Content/images/8.png")" alt="" />



</div>


<div class=" mob" style="">
    <div class="d-inline-block mb-4 ml-2">
        <a style="font-size:3vh" class="text-lowercase pr-4" href="/">
            <img src="https://img.icons8.com/ios-filled/80/000000/dolphin.png">
        </a>
        <h3 class="d-inline-block mt-3 text-lowercase">blog <kbd>phins</kbd></h3>
    </div>


    <img width="100%"
         class="" height="auto" style="padding:2px;display:inline-block"
         src="@Url.Content("~/Content/images/3.png")" alt="" />
    <img width="100%"
         class="" height="auto" style="padding-left:2px;padding-right:2px;display:inline-block"
         src="@Url.Content("~/Content/images/8.png")" alt="" />
    

</div>